// KOHINOOR

@font-face {
  font-family: kohinoor-bold;
  src: url(./assets/fonts/KohinoorBangla-Bold.otf);
}

@font-face {
  font-family: kohinoor-medium;
  src: url(./assets/fonts/KohinoorBangla-Medium.otf);
}

@font-face {
  font-family: kohinoor-semi-bold;
  src: url(./assets/fonts/KohinoorBangla-Semibold.otf);
}

@font-face {
  font-family: kohinoor-light;
  src: url(./assets/fonts/KohinoorBangla-Light.otf);
}

@font-face {
  font-family: kohinoor-light;
  src: url(./assets/fonts/KohinoorBangla-Light.otf);
}

// TT NORM

@font-face {
  font-family: tt-norm-bold;
  src: url(./assets/fonts/TTNorms-Bold.otf);
}

@font-face {
  font-family: tt-norm-medium;
  src: url(./assets/fonts/TTNorms-Medium.otf);
}

@font-face {
  font-family: tt-norm-semi-bold;
  src: url(./assets/fonts/TTNorms-Regular.otf);
}
