@use 'css/fonts';
@use 'css/abstract' as *;
@use 'css/reset';

html {
  box-sizing: border-box;
  margin: 0;
}

$primary: rgba(163, 211, 188, 1);
$blue: rgba(131, 209, 242, 1);
$yellow: rgba(245, 213, 20, 1);




@mixin shadow {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

@mixin big-shadow {
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 10px;
}

:root {
  font-size: 15px;
}

body {
  margin: 0 auto; 
  max-width: 1280px;
  color: black;
  @include respond-to('xs') {
    padding: 0px;

  }
  // @include respond-to('xl') {
  //   padding: 10px 80px;
  // }
}



header, main, footer {
  @include respond-to('xs') {
    padding:0 16px;
  }
}

header {
  // height: 120px;
  border-bottom: 2px solid black;
  font-family: tt-norm-bold;
  font-size: 22px;
  a {
    color: black;
    text-decoration: none;
  }
  .logo--img {
    // height: 100px;
  }
  .menu {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap:10px;
    li:first-child {
      margin-right: -4rem;
    }
    li:nth-child(2) {
      margin-right: 18rem;
    }
  }
  // @include respond-to('xl') {
  //   font-size: 30px;
  // }
  @include respond-to('xs') {
    height: 48px;
    justify-content: space-between;
    img.logo--img {
      max-width: fit-content;
      height: 40px;
      position: relative;
    }
    li:not(.menu--logo):not(.menu--item--xs):not(.dropdown--item--xs) {
      display: none;
    }
    .menu {
      position: relative;
      left: -22px;
    }
    .menu li:first-child {
      margin-top: 5px;
      margin-right: 0px;
    }
  }
}

.menu--item--dropdown {
  position: relative;
}
.menu--item--dropdown::after {
  display: inline-block;
  margin-left: 0.4em;
  vertical-align: 0.1em;
  content: "";
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000000;
}

.dropdown--menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 35px;
  border: 1px inset black;
  width: 100%;
  font-weight: normal;
  // font-family: kohinoor-medium;
  border: .5px solid black;
  border-radius: 5px;
  background: white;
  // left: 40px;
  .dropdown--item {
    cursor: pointer;
    padding: .5em;
    &:hover {
      background: whitesmoke;
      width: 100%;
      border-radius: 5px;
    }
  }
}


.menu--xs {
  display: none;
  width: calc(100% + 32px);
  height: 100vh;
  background: whitesmoke;
  border: 1px solid steelblue;
  margin-left: -16px; // bc of header padding
  position: relative;
  top: -3px;
  z-index: 100;
  li {
    padding: .3em .5em;
     position: relative;
  // top: 1px;
  // left: -16px;
  // z-index: 100;
  }
  .menu--item--dropdown--xs::after {
    content: url(./assets/images/icons/arrow.svg);
    width: 10px;
    height: 10px;
    top: 10px;
    left: calc(100% - 30px);
    position: absolute;
  }

  .dropdown--menu--xs {
    display: none;
    padding-left: 1em;
  }
}

.hero {
  padding: 40px 30px;
  .hero--picture {
    width: 100%;
  }
  figure {
    position: relative;
    margin: 0;
  }
  figcaption {
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0px;
    top: calc(100% - 94px);
    background: rgba(16, 16, 16, 0.2);
    border-radius: 10px;
    @include respond-to('xs') {
      top: calc(100% - 66px);
      height: 62px;
      background: none;
    }
    h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 59px;
      font-family: tt-norm-medium;
      color: #ffffff;
      padding-left: 20px;
      margin-top: 16px;
    }
    button {
      display: none;
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 30px;
      @include respond-to('xs') {
        display: block;
        font-size: 16px;
        right: 16px;
        bottom: 8px;
      }
    }
  }
  @include respond-to('xs') {
    margin: 0;
    padding-top: 32px;
    h1 {
      display: none;
    }
  }
}

.description {
  display: grid;
  padding: 0 40px;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  font-size: 16px;
  line-height: 165%;
  font-family: kohinoor-medium;
  margin-bottom: 40px;
  font-size: 18px;
  @include respond-to('xs') {
    padding: 0 0px;
    gap:20px;
    grid-template-columns: none;
    font-size: 15px;
    margin-top: 24px;
  }
}

.conclusion {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  img {
    max-width: 500px;
  }
  padding-bottom: 80px;
  @include respond-to('xs') {
    padding-bottom: 40px;
    img {
      max-width: 150px;
    }
    font-size: 20px;
  }
}

strong {
  font-weight: bold;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  font-family: tt-norm-bold;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 22px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  @include shadow();

  // @include respond-to('xl') {
  //   font-size: 30px;
  // }
}
.btn--primary {
  background-color: $primary;
  padding: 10px 20px;
}

.btn--menu {
  display: none;
  height: 36px;
  width: 36px;
  background-color: #ffffff;
  background-size: contain;
  position: absolute;
  top: 5px;
  right: 8px;
  @include respond-to('xs') {
    display: block;
  }
  // border: 2px solid black;
}

.icon--hamburger {
  background-image: url(./assets/images/icons/hamburger.svg);
}

.icon--close {
  background-image: url(./assets/images/icons/close.svg);
}

footer {
  // background-color: rgb(146, 153, 155);
  // color: #ffffff;
  border-top: 3px solid black;
  display: flex;
  justify-content: space-between;
  h3 {
    text-align: right;
  }
  img {
    border-radius: 20%;
    padding: 0 10px;
  }
  .social-media {
    grid-column-start: 3;
    filter: grayscale(100%);
    img {
      width: 25px;
    }
  }
  ul {
    display: flex;
  }
  @include respond-to('xs') {
    padding-top: 24px;
    img {
      border-radius: 20%;
      padding: 0 8px;
      width: 64px;
    }
    .social-media img {
      padding: 8px;
      width: 40px;
      cursor: pointer;
    }
  }
}

.round {
  border: 2px solid rgb(181, 181, 181);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    207.69deg,
    rgba(163, 211, 188, 0.4) 0.69%,
    rgba(131, 209, 242, 0.4) 99.76%
  );
  background-blend-mode: multiply;
  cursor: pointer;
}

.color--container {
  position: absolute;
  max-width: 564px;
  height: 106px;
  background: white;
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color-1 {
  background: linear-gradient(
      309.58deg,
      rgba(163, 211, 188, 0.4) 42.19%,
      rgba(131, 209, 242, 0.4) 74.41%
    ),
    #ffffff;
}

.color-2 {
  background: white;
}

.color-3 {
  background: linear-gradient(
      340.86deg,
      rgba(245, 213, 20, 0.245) -13.41%,
      rgba(163, 211, 188, 0.5) 44.07%
    ),
    #ffffff;
}

.color-4 {
  background: linear-gradient(
      0deg,
      rgba(245, 213, 20, 0.19),
      rgba(245, 213, 20, 0.19)
    ),
    #ffffff;
}

.color-5 {
  background: linear-gradient(
      0deg,
      rgba(131, 209, 242, 0.4),
      rgba(131, 209, 242, 0.4)
    ),
    #ffffff;
}

.color-6 {
  background: linear-gradient(
      180deg,
      rgba(131, 209, 242, 0.4) 0%,
      rgba(131, 209, 242, 0) 100%
    ),
    #ffffff;
}

.color-7 {
  background: linear-gradient(
      180deg,
      rgba(131, 209, 242, 0.4) 0%,
      rgba(50, 91, 111, 0) 100%
    ),
    #d9d9d9;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background-color: #77d4a6;
}
body::-webkit-scrollbar-thumb {
  background-color: #77d4a6;
}


.products {
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  @include respond-to('xs') {
    flex-direction: column;
  }
}
.product {
  font-size: 22px;
  min-height: 450px;
  background: white;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond-to('xs') {
    margin: 1rem 0;
    &:first-child {
      margin: 0;
    }
  }
  @include big-shadow();
  .product--title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    color: rgb(88, 92, 93);
    height: 50px;
  }
  .product--content--list {
    flex:1;
  }
  .product--price {
    font-size: 1.2em;
    font-weight: 700;
  }
  .product--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    padding: .2em .8em;
    span {
      margin-right: 10px;
    }
    @include respond-to('xs') {
      padding: .1em .4em;
      span {
        display: none;
      }
    }
   
  }
}

.product > * {
  padding: 1rem;
  @include respond-to('xs') {
    padding: .5rem;
  }
}


.cart::before {
  content: url(./assets/images/icons/cart.svg);
  // center vertically icon
  position: relative;
  top: 3px;
}

.bg--blue {
  background: $blue;
}

.bg--yellow {
  background: $yellow;
}